= render "groups/chat-side"

.chat-main
  = render "chat-main__header"
  .chat-main__body
    .chat-main__body--messages-list
      - if @messages.present?
        - @messages.each do |message|
          .chat-main__body--messages-list-message
            .chat-main__body--messages-list-message-name
              = message.user.name
            .chat-main__body--messages-list-message-date
              = message.created_at
            .chat-main__body--messages-list-message-comment
              = message.body
  = render "chat-main__footer"
