= render "groups/chat-side"

.chat-main
  = render "chat-main__header"
  .chat-main__body
    .chat-main__body--messages-list
      - @messages.each do |message|
        .chat-main__body--messages-list-message{ id: "#{message.id}" }
          .chat-main__body--messages-list-message-name
            = message.user.name
          .chat-main__body--messages-list-message-date
            = message.created_at
          .chat-main__body--messages-list-message-comment
            = message.body
          .chat-main__body--messages-list-message-image
            - if message.image.present?
              = image_tag message.image.url
  = render "chat-main__footer"
