.notification
  .notice
.chat-side
  .chat-side__user
    .chat-side__user-content
      .chat-side__user-content-name
        %h3
          = current_user.name
      .chat-side__user-content-btn
        = link_to new_group_path do
          %i.fa.fa-pencil-square-o
        = link_to edit_user_path(current_user) do
          %i.fa.fa-cog
  .chat-side__groups
    .chat-side__groups-list
      - current_user.groups.each do |group|
        .chat-side__groups-list-group
          %p.group-name
            = link_to group.name, group_messages_path(group)
          %p(class ='group-message id-#{group.id}')
            - if group.messages.present?
              = group.messages.last.body
            - else
              まだメッセージはありません。
